<!DOCTYPE html>
<html>
<head>
    <title>
        Mr jain-info
    </title>
    <meta charset="UTF-8">
    
    <meta name="description" content="Welcome to my personal website. Explore my skills, certificates, projects, and contact information.">
    
    <!-- Open Graph (Facebook and LinkedIn) meta tags -->
    <meta property="og:title" content="Priyansh jain - Personal Website">
    <meta property="og:title" content="Mr jain - Personal Website">
    <meta property="og:description" content="Welcome to my personal website. Explore my skills, certificates, projects, and contact information.">
    <meta property="og:type" content="website">
    <meta property="og:url" content="http://priyanshjain.online/">
    <meta property="og:image" content="http://priyanshjain.online/my_image.jpg">
    
    <!-- Twitter meta tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Priyansh jain - Personal Website">
    <meta name="twitter:description" content="Welcome to my personal website. Explore my skills, certificates, projects, and contact information.">
    <meta name="twitter:url" content="https://www.example.com">
    <meta name="twitter:image" content="https://www.example.com/images/profile.jpg">
    
    <!-- Instagram -->
    <meta property="profile:this_is_priyansh_" content="this_is_priyansh_instagram">
    
    <!-- LinkedIn -->
    <meta name="linkedin:owner" content="www.linkedin.com/in/mrpriyanshjain">
    
    <!-- Google Search Console verification meta tag -->
    <meta name="google-site-verification" content="your-google-search-console-verification-code">
    
    <!-- Other meta tags for SEO -->
    <meta name="keywords" content="Priyansh jain, personal website, skills, certificates, projects, contact">
    <meta name="author" content="Priyansh jain">
    <link rel="stylesheet" type="text/css" href="style.css">
    <!-- <meta name="viewport" > -->
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
<body>


    <header id="body-header">
        <nav>

            <ul class="horizontal-list text-center nav-menu">
                <li>
                    <a href="#"> Home </a>
                </li>
                <li>
                    <a href="#about"> About </a>
                </li>
                <li>
                    <a href="#skills"> Skills </a>
                </li>
                <li>
                    <a href="#images">Experience</a>
                </li>
                <li>
                    <a href="#education">Education</a>
                </li>
                <li>
                    <a href="#portfolio">Portfolio</a>
                </li>
                <li>
                    <a href="#Projects">Projects</a>
                </li>
                
                <li>
                    <a href="#contact">Contact</a>
                </li>
            </ul>
        </nav>
        <div id="download-resume">
            
            <div id="gif-container">
                <img src="https://www.netanimations.net/Moving-picture-down-arrow-spinning-cube-animated-gif.gif" alt="Your GIF">
            </div>
            
            <a href="Mr jain resume.pdf" download id="download-link">
                <button id="download-button">
                    <i class="fas fa-download"></i> Download Resume
                </button>
                
            </a>
            
        </div>

        <div id="name-social-container">
            <div class="text-center">
                <h1 id="my-name">
                    Priyansh jain
                </h1>
            </div>
            <div>
                <ul class="horizontal-list text-center social-icons">
                    <li>
                        <a href="https://www.linkedin.com/in/mrpriyanshjain/">
                            <i class="fab fa-linkedin-in"></i>
                        </a>
                    </li>

                    <li>
                        <a href="https://wa.me/7534948255">
                            <i class="fab fa-whatsapp"></i>
                        </a>
                    </li>

                    <li>
                        <a href="#">
                            <i class="fab fa-linkedin-in"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fab fa-stack-overflow"></i>
                        </a>
                    </li>
                </ul>

                </div>

            </div>

    </header>
    <main>

        <section id="about">
            <div id="my-image">
                <img src="my_image.jpg">
            </div>
            <div id="about-para">

                <p>
                    
                    

                    Hello, Here is  <span class="text-highlight">Priyansh jain.</span> I am a  <span class="text-highlight">front-end web developer </span>who is passionate about learning and growing in the field of  <span class="text-highlight">web development.</span> I am actively seeking opportunities that will allow me to work in an environment that encourages innovation and fosters professional growth. I am confident in my abilities to utilize my skills and knowledge appropriately to create engaging and user-friendly web experiences. With a positive attitude and a strong work ethic, I am determined to make a meaningful contribution to the web development industry and thrive in a team that shares the same values and goals. Thank you for Reading my Profile. I look forward to discussing how I can contribute to your team and help achieve its goals.

            </div>


        </section>


<!--  here is skill section -->
        <section id="skills">
            <h1 class ="section-heading mb75px">
            <span>
                <i class="fas fa-chalkboard-teacher"></i>
            </span>
            <span>SKILLS</span>
        </h1>
        <div class="skills-display">
            <div class="skill-progress">
                <div class="eight-five-percent mb-blue">
                    <div class="skill-name"><span>Java</span></div>
                    
                 </div>
            </div>
            <div class="skill-progress">
                <div class="fifty-percent mb-orange">
                    <div class="skill-name"><span>DMBS</span></div>
                    
                 </div>
            </div>
            <div class="skill-progress">
                <div class="thirty-percent mb-blue">
                    <div class="skill-name"><span>CSS</span></div>
                    
                 </div>
            </div>
            <div class="skill-progress">
                <div class="fifty-percent mb-orange">
                    <div class="skill-name"><span>DSA</span></div>
                    
                 </div>
            </div>
            <div class="skill-progress">
                <div class="thirty-percent mb-teal">
                    <div class="skill-name"><span>Javascript</span></div>
                    
                 </div>
            </div>
            <div class="skill-progress">
                <div class="ten-percent mb-light-purple">
                    <div class="skill-name"><span>React</span></div>
                    
                 </div>
            </div>
            <div class="skill-progress">
                <div class="ten-percent mb-blue">
                    <div class="skill-name"><span>NodeJs</span></div>
                    
                 </div>
            </div>
        </div>


        </section>
        <section id="images">
            <h1 class ="section-heading mb75px">
                <span>
                    <i class="fas fa-th-list"></i>
                    <span>Special</span>
                </span>
            </h1>
            <div id="gallery">
                <div id="special-contain">
                    <p id="text-special"> I recently had the opportunity to participate in a <span class="text-highlight">hackathon</span>  focused on developing innovative solutions for sustainable transportation. It was an intense and  <span class="text-highlight"> rewarding experience,</span> as my team and I worked together <br>  <span class="text-highlight">We faced a number of challenges during the hackathon,</span> from developing a user-friendly interface to integrating complex data sets, but we ultimately succeeded in creating a working prototype that received positive feedback from judges and fellow participants. Participating in this hackathon taught me valuable lessons about <span class="text-highlight"> teamwork,</span> <span class="text-highlight">problem-solving,</span> and innovation, and I'm excited to continue exploring new ideas in the field of technology</p> 

                </div>
                <div id="image-conatin">
                    <img  id="special-img"src="gniot.jpg" alt="Girl in a jacket" >

                </div>
            </div>
        </section>

        <section id="experience ">

        </section>

        <section id="education">

        </section>

         <section id="portfolio">
            <h1 class="section-heading mb75px">
                <span>
                    <i class="fas fa-th-list"></i>
                </span>
                <span> certificate </span>
            </h1>
            <div id="Portfolio-contanier">
                <div class="portfolio-image-container">
                    <a href="https://www.w3schools.com/">
                        <img  id="certifite-logo" src="c2.gif">
                   </a>
                    <div class="portfolio-details">
                        <pre>
                          here
                        <pre>
                    </div>

                </div>
                <div class="portfolio-image-container" id="portfolio2">
                    <img  id="certifite-logo" src="c.gif">
                    <div class="portfolio-details">
                        <pre>
                            here
                          <pre>
                    </div>

                </div>
                <div class="portfolio-image-container" id="portfolio3">
                    <img id="certifite-logo"src="c2.gif">
                    <div class="portfolio-details">
                        <pre>
                            here
                          <pre>
                    </div>

                </div>
                <div class="portfolio-image-container">
                    <img src="https://ninjasfiles.s3.amazonaws.com/asset_0000000000000024_1550237299_codezen.png">
                    <div class="portfolio-details">
                        <pre>
                            here
                          <pre>
                    </div>

                </div>
                <div class="portfolio-image-container">
                    <img src="https://ninjasfiles.s3.amazonaws.com/asset_0000000000000024_1550237299_codezen.png">
                    <div class="portfolio-details">
                        <pre>
                            here
                          <pre>
                    </div>

                </div>
                <div class="portfolio-image-container">
                    <img src="https://ninjasfiles.s3.amazonaws.com/asset_0000000000000024_1550237299_codezen.png">
                    <div class="portfolio-details">
                        <pre>
                            here
                          <pre>
                    </div>

                </div>

            </div>

        </section> 
        <!-- ---------------------- -->
        
        <!-- ------------------------- -->
        <section id="portfolio">
            <h1 class="section-heading mb75px">
                <span><i class="fas fa-th-list"></i></span>
                <span>Projects</span>
            </h1>
            <div id="portfolio-container">
                <div class="portfolio-item">
                    <a href="http://priyanshjain.online/calculator/">
                        <img src="https://media.giphy.com/media/v1.Y2lkPTc5MGI3NjExMDV2N3k1MWk1dGpuejNqZmd6Nmo4cmU0eXp3Ymlwa3J6OWIwdnIxcSZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9cw/Lr9IC7PQqd9aOozMws/giphy.gif" alt="Project 1">
                        <div class="project-details">
                            <h3  id="about-para">Project Overview</h3>
                            <p id="about-para">
                                Create a basic command-line calculator that can perform arithmetic operations </p>
                        </div>
                    </a>
                </div>
                <div class="portfolio-item">
                    <a href="https://priyanshjain.online/Sparks-Foundation-main/">
                        <img src="https://media.giphy.com/media/NyniJ2Nf2ZzlE8GYsl/giphy.gif" alt="Project 2">
                        <div class="project-details">
                            <h3 id="about-para">Online Basic Banking System with Money Transfer</h3>
                            <p id="about-para">Provides users with a platform to perform essential banking operations</p>
                        </div>
                    </a>
                </div>
                <div class="portfolio-item">
                    <a href="http://priyanshjain.online/">
                        <img src="https://cdn.dribbble.com/users/41636/screenshots/970296/adham-dannaway-home.gif" alt="Project 3">
                        <div class="project-details">
                            <h3 id="about-para">Personal Portfolio Website</h3>
                            <p id="about-para">Online platform designed to showcase your professional skills, achievements, and portfolio of work.</p>
                        </div>
                    </a>
                </div>
                <div class="portfolio-item">
                    <a href="http://priyansh.priyanshjain.online/">
                        <img src="https://media.tenor.com/MF077rL10TkAAAAd/coming-soon-hexagon.gif" alt="Project 3">
                        <div class="project-details">
                            <h3 id="about-para">Under construction</h3>
                            <p id="about-para">Under construction --trail check! 🤩</p>
                        </div>
                    </a>
                </div>
            </div>
        </section>
        
        <!-------------------------------------------------------  -->

        <section id="contact">
            <h1 class ="section-heading mb75px">
            <span>
                <i class="fas fa-th-list"></i>
                <span>Contact</span>
            </span>
        </h1>
        <% if (Errormessage) { %> 
            <div class="alert alert-danger" role="alert">
                <%= Errormessage %>
            </div>
            <% } %>
            
        
        <div id="contact-container">
             
         <div id="contact-form-container " >
            
            
            
            <form id="contact-form" method="post">
                <input id="input-name" name="name" type="text" placeholder="Your Name">
                <input id="input-email" name="email" type="email" required placeholder="Your Email">
                <textarea id="input-message" name="message" rows="4" placeholder="Message"></textarea>
                <button class="sub-btn" type="submit">SEND MESSAGE</button>
                <div class="dropdown" id="contact-container">
                    <div class="dropdown-content">
                        <p id="dropboxpara">Thank you! We'll respond shortly 🙂</p>
                    </div>
                </div>
            </form>
            
            <!--  -->
         </div>
         <div id="my-details-container">

            <h3> Get In touch </h3>
            <p > Thank you for visiting! If you have any questions or would like to get in touch, please feel free to contact us using the information below. We appreciate your interest and look forward to hearing from you. </p>

            <h3> My Address </h3>
            <div class="my-details-info-container">
                <i class="fas fa-map-marker-alt"></i>
                <span>Delhi, India</span>
            </div>
            <div class="my-details-info-container">
                <i class="fas fa-mobile-alt"></i>
                <span>91-7534948255</span>
            </div>
            <div class="my-details-info-container">
                <i class="far fa-envelope"></i>
                <span>mrpriyanshjains@gmail.com</span>
            </div>
        </div>
    </div>
    <div class="text-center social-icons">

        <ul class="horizontal-list">

            <li>
                <a href="https://www.linkedin.com/in/manisha-khattar-b5663641/">
                    <i class="fab fa-linkedin-in"></i>
                </a>
            </li>

            <li>
                <a href="https://stackoverflow.com/users/5608414/manisha?tab=profile" target="_blank">
                    <i class="fab fa-stack-overflow"></i>
                </a>
            </li>

            <li>
                <a href="https://plus.google.com/u/0/103030702784925512939" target="_blank">
                    <i class="fab fa-google-plus-g"></i>
                </a>
            </li>

            <li>
                <a href="https://www.facebook.com/manishakhattar54">
                    <i class="fab fa-facebook-f"></i>
                </a>
            </li>

            <li>
                <a href="https://www.quora.com/profile/Manisha-Khattar" target="_blank">
                    <i class="fab fa-quora"></i>
                </a>
            </li>
        </ul>
    </div>
            

        </section>

    </main>
    <!-- <script>
        // JavaScript to handle the click count and animation
        let clickCount = 0;
    
        // Function to update the click count
        function updateClickCount() {
            clickCount++;
            const clickCountElement = document.getElementById('click-count');
            clickCountElement.textContent = `${clickCount} Clicks`;
    
            // Make an AJAX (or fetch) request to the server to update the count
            fetch('/server/updateDownloadCount', { // Adjust the URL to match your server setup
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
            })
            .then(response => response.json())
            .then(data => {
                // Update the click count on the client-side
                clickCountElement.textContent = `${data.count} Clicks`;
            })
            .catch(error => {
                console.error('Error updating download count:', error);
            });
        }
    
        // Function to trigger the heart animation
        function animateHeart() {
            const heart = document.getElementById('download-button');
            heart.style.animation = 'heartbeat 0.5s ease';
            setTimeout(() => {
                heart.style.animation = '';
            }, 500);
        }
    
        // Add a click event listener to the download button
        const downloadButton = document.getElementById('download-button');
        downloadButton.addEventListener('click', () => {
            updateClickCount();
            animateHeart();
            // Add code here to initiate the download of your resume
            // You can use window.location.href or other methods to trigger the download.
        });
    </script> -->
    
    

</body>
</html>